@import url('https://fonts.googleapis.com/css?family=Roboto');

fondo = #fff	
// boton = #003876
boton = #9A0934

* 
	margin 0
	padding 0
	font-family 'Roboto'
	font-size 13px
	font-weight 400

ul, ol 
	list-style none

.mapa 
	
	a 
		text-decoration none
		color boton
		font-size 11px

.btn 
	font-size 18px 
		
body
	background white
	
	#login 		
		border 1px solid rgba(0,0,0,0.2)
		width 300px
		margin 5em auto
		padding 1em 2em
		border-radius 0.4em
		background fondo
		-webkit-box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.63);
		-moz-box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.63);
		box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.63);
		
		form 			

			figure				
				width 90%
				margin 0 auto
				
				img 
					width 100%	
			
			input
				display block
				width 92%
				margin 1em 0
				font-size 15px
				border 1px solid rgba(0,0,0,0.3)
				border-radius 0.3em
				padding 0.5em 0.7em
			
			input[type='submit']
				width 100%
				background boton
				color white
				transition all 0.3s linear
				cursor pointer
				font-size 20px	
			
			input[type='submit']:hover
				background white
				color boton
				

	#loading
		position fixed
		top 0 
		left 0
		bottom 0
		right 0
		background white
		text-align center
		z-index 100
		padding 18em 0
		
		figure
			margin 0 auto
			width 100px
			
			img
				width 100%
		
		p 
			color #888
	
	header
		border 1px solid rgba(0,0,0,0.1)
		padding 1em 3em 0.5em 3em	
		background boton
		
		h1, ul 
			display inline-block
			vertical-align middle
		
		h1 
			font-size 18px
			color white
			text-transform uppercase
		
		ul 
			float right
			padding 0
			
			li 
				display inline-block
				vertical-align middle
				
				a 
					text-decoration none					
					color white
					padding 0.5em 0.7em
					border-radius 0.3em
					text-transform uppercase					
					font-size 12px			
				
				a:hover
					color white		
	
	.contenido
		padding 2em		
		
		.tabla, .graficos
			display inline-block
			vertical-align top			
			margin 0 0.5em			
			padding 1em
		
		.tabla
			width 50%
			
			.fechas 
				display block 
				padding 0 0 0.5em 0
				
				input 
					display inline-block
					vertical-align top
					width 30%
					
			
			.dispositivos, .btn-group
				display inline-block
				vertical-align middle
			
			.dispositivos
				width 250px
				padding 0 1em 0 0
			
			.data 
				overflow-y scroll	
				height 400px
				margin 1em 0
		
		.graficos 
			width 45%
		
		.separadas
			text-align center

			li 
				width 40%
				margin 1em 1em 2em 1em
				display inline-block
				vertical-align middle
				border 1px solid rgba(0,0,0,0.2)
				border-radius 0.4em
				padding 0.5em
				-webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.15);
				-moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.15);
				box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.15);
				transition all 0.3s linear 
			
			li:hover
				-webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.40);
				-moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.40);
				box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.40);